# Stats Panel Creds
STATS_PANEL_USERNAME={{ lookup('community.general.lastpass', 'ctf_haproxy_stats_panel_account', field='username') }}
STATS_PANEL_PASSWORD={{ lookup('community.general.lastpass', 'ctf_haproxy_stats_panel_account', field='password') }}
